@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rye&display=swap');

* , html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100vh;
    font-family: "Rye", serif;
}
header {
    & .container-header {
        width: auto;
        background-color: #FAF3E0;
        & nav {
            position: relative;
            max-width: 1140px;
            width: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 15vh;
            & img {
                width: 200px;
            }
            & ul {
                display: flex;
                gap: 2rem;
                & li {
                    list-style: none;
                    & a {
                        text-decoration: none;
                        color: #442724;
                        font-family: "Lora", serif;
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }
            & i{
                display: none;
            }
        }

    }

    & .container-main {
        background: url('./img/cover.png'), linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0));
        background-blend-mode: overlay;
        background-size: cover;
        height: calc(100vh - 15vh);
        & .main {
            max-width: 1140px;
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            & .main-titles {
                max-width: 500px;
                & h1 {
                    color: #FAF3E0;
                    font-size: 2rem;
                    text-transform: uppercase;
                }

                & p {
                    margin-top: 1.5rem;
                    color: #FAF3E0;
                    line-height: 27px;
                    font-family: "Lora", serif;
                    font-size: 13px;
                }

                & button {
                    width: 150px;
                    padding: .7rem;
                    margin-top: 2rem;
                    background-color: #442724;
                    color: #FAF3E0;
                    border: none;
                    letter-spacing: 0px;
                    cursor: pointer;
                    font-family: "Lora", serif;
                    font-size: 16px;
                    transition: background 0.2s ease, color 0.2s ease;
                    &:hover {
                        background: #FAF3E0;
                        color: #442724;
                    }
                }
            }

            & .main-images {
                & img {
                    width: 490px;
                    height: 490px;
                    mask-image: linear-gradient(to right, black 50%, transparent);
                }
            }
        }

    }

}

section{
    & .container-section {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto 0 auto;
        padding: 4.5rem 0 4.5rem 0;
        & h2 {
            text-align: center;
            font-size: 1.5rem;
            color: #442724;
        }
        & p {
            text-align: center;
            font-family: "Lora", serif;
            font-weight: 600;
            font-size: 16px;
        }
        & .section-historia {
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            & img {
                width: 400px;
                height: 400px;
                object-fit: cover;
                background-color: #FAF3E0;
                border-radius: 100%;
            }
            & p {
                text-align: justify;
                max-width: 500px;
                font-size: 14px;
                line-height: 25px;
                padding: 1rem
            }
        }
    }
}

.section {
    background:url(./img/beneficios.png), #442724;
       background-repeat: repeat-x;
    & .container-beneficios {
       max-width: 1300px;
       width: 100%;
       margin: auto;
       padding: 4rem;
        & h2,
        p {
            color: #FAF3E0;
            text-align: center;
        }
        & p{
            font-family: "Lora", serif;
            font-weight: 600;
        }
        & .container-cards {
            margin-top: 4rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            & .card1 {
                position: relative;
                border-radius: 8px;
                padding: 1rem;
                display: flex;
                justify-content: center;
                place-items: center;
                clip-path: circle(70% at 50% 50%);
                overflow-y: hidden;
                transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
                & img {
                    position: absolute;
                    width: 250px;
                    transform: scale(0);
                    filter: drop-shadow(0 0 10px #fff);
                    transition: transform 300ms ease;
                }
                & .section-card1 {
                    position: relative;
                    width: 325px;
                    height: 250px;
                    background-color: #fff;
                    padding: 1rem;
                    text-align: center;
                    border-radius: 8px;
                    display: grid;
                    row-gap: 1rem;
                    box-shadow: 0 0 10px #fff;
                    transition: background 300ms ease;
                    & p {
                        text-align: justify;
                        color: #442724;
                        font-size: 11px;
                    }
                }

            }
            & .card3 img {
                width: 175px;
            }
            & .card1:hover {
                background-color: #fff;
                clip-path: circle(100% at 50% 50%);
                border-radius: 0;
                img {
                    transform: scale(1);
                }
                .section-card1 {
                    background: linear-gradient(to top, #ffffff, #ffffff99);
                }
            }
        }
    }
}

section {
    & .container-section {
        & .opiniones{
            font-size: 1.5rem;
        }
        & .lema{
            font-size: 16px;
        }
        & .container-timeline {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 450px);
            grid-template-rows: repeat(4, 150px);
            grid-template-areas: "opinion1 ."
                ". opinion2"
                "opinion3 ."
                ". opinion4";
            margin-top: 5rem;
            place-items: center;
            place-content: center;

            & .opinion--one,
            .opinion--two,
            .opinion--three,
            .opinion--four {
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 300px;
                gap: 1rem;

                & .container-face-name {
                    display: flex;
                    gap: 1rem;
                    width: 400px;
                    & img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    & .name-face {
                        & p {
                            text-align: left;
                            font-size: 15px;
                            font-weight: 800;
                            color: #FAF3E0;
                        }
                        & span {
                            font-size: 13px;
                            font-family: "Lora", serif;
                            font-weight: 600;
                            color: #FAF3E0;
                        }
                    }
                }
                & .container-text {
                    & p {
                        text-align: justify;
                        font-size: 8px;
                        color: #FAF3E0;
                    }
                }
            }
            & .opinion--one,
            .opinion--two,
            .opinion--three,
            .opinion--four {
                background-color: #442724;
                padding: 1.2rem;
                border-radius: 8px;
            }
            & .opinion--one {
                grid-area: opinion1;
            }
            & .opinion--two {
                grid-area: opinion2;
            }
            & .opinion--three {
                grid-area: opinion3;
            }
            & .opinion--four {
                grid-area: opinion4;
            }
        }

        & .container-timeline:before {
            content: '';
            position: absolute;
            background-color: #FAF3E0;
            width: 560px;
            height: 5px;
            top: 300px;
            transform: rotate(90deg);

        }
        & .container-timeline:after {
            content: '';
            position: absolute;
            top: 0;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: #442724;
            box-shadow: 0 210px 0 #442724,
                0 360px 0 #442724,
                0 560px 0 #442724;
        }
    }
}
#contacto {
    background-color: #442724;
}

section {
    position: relative;
    & .container-section {
        & .title {
            color: #FAF3E0;
            font-size: 1.5rem;
        }

        & .paragraf {
            color: #FAF3E0;
            font-size: 16px;
        }

        & .section-form {
            display: flex;
            justify-content: space-evenly;
            gap: 2rem;
            flex-wrap: wrap;
            margin-top: 3rem;
            & form {
                & .container-form {
                    & .form-section-inputs {
                        & .form-section-last,
                        .form-section-first,
                        .form-section-email {
                            margin-top: 15px;
                            position: relative;
                            & p {
                                text-align: left;
                                font-size: 14px;
                                color: #FAF3E0;
                            }
                            & input {
                                margin-top: 5px;
                                border-radius: 5px;
                                border: none;
                                outline: none;
                                padding: .5rem .3rem;
                                width: 100%;
                                box-shadow: 0 1px 0 #442724;
                                background-color: #fff;
                            }
                        }
                        & .form-section-mensaje {
                            margin-top: 15px;
                            & p {
                                text-align: left;
                                font-size: 14px;
                            }
                            & textarea {
                                border-radius: 5px;
                                outline: none;
                                border: none;
                                margin-top: 5px;
                                padding: .5rem .5rem;
                                font-family: "Lora", serif;
                                background-color: #fff;
                            }
                        }
                        & input {
                            width: 200px;
                            outline: none;
                            border: none;
                            border-radius: 5px;
                            padding: 1rem 1.5rem;
                            margin-top: 1rem;
                            font-family: "Lora", serif;
                            font-weight: 600;
                            background-color: #FAF3E0;
                            color: #442724;
                            cursor: pointer;
                        }
                    }

                }
            }
            & iframe{
                width: 600px;
                height: 400px;
            }
        }
    }
}

footer{
    & .container-section{
        max-width: 1344px;
        width: 100%;
        margin: 0 auto 0 auto;
        padding: 0rem 0 1rem 0;
        & .footer-information{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & img{
                width: 200px;
            }
            & .footer-items {
                & ul{
                    display: flex;
                    gap: 2rem;
                    & li{
                        list-style: none;
                        & a{
                            list-style: none;
                            text-decoration: none;
                            color: #442724;
                            font-family: "Lora", serif;
                            font-weight: 600;
                            font-size: 13px;
                        }
                    }
                }
            }
            & hr{
                height: 2px;
                width: 100%;
                margin-top: 1rem;
                border: none;
                background-color: #442724;
            }
            & p{
                margin-top:10px ;
                font-family: "Lora", serif;
                font-weight: 600;
                font-size: 10px;
            }
        }
    }
}


/* BREAKPOINTS PARA DISPODITIVOS DE - 990PX */
@media screen and (max-width: 1025px) {
    header{
        & .container-header{
            & nav{
                max-width: 850px;
            }
        }
        & .container-main{
            display: grid;
            & .main{
                justify-content: center;
                align-items: center;
                & .main-titles{
                    max-width: 700px;
                    & h1{
                        text-align: center;
                    }
                    & p{
                        text-align: center;
                    }
                    & button{
                        display: block;
                        margin: 1rem auto;
                    }
                }
                & .main-images{
                    & img{
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    header{
        & .container-header{
            & nav{
                & ul{
                    display: grid;
                    place-items: center;
                    position: fixed;
                    width: 300px;
                    height: 85vh;
                    right: -300px;
                    top: 15vh;
                    background: #FAF3E0;
                    transition: right 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }
                & .menu-open{
                    right: 0;
                }
                
                & i{
                    display: block;
                    & img{
                        width: 30px;
                    }
                    
                }
            }
            
        }
    }
    #opiniones{
        & .container-section{
            & .container-timeline{
                grid-template-columns: repeat(1, 400px);
                grid-template-rows: repeat(4, 150px);
                grid-template-areas: "opinion1"
                                     "opinion2"
                                     "opinion3"
                                     "opinion4";
                gap: 1rem;
                margin-top: 3rem;
            }
            & .container-timeline:after, .container-timeline::before{
                content: none;
            }
        }
    }
}

@media screen and (max-width:481px) {
    header{
        & .container-header{
            position: fixed;
            right: 0;
            width: 100vw;
            z-index: 9999;
            & nav{
                & ul{
                    
                    width: 100vw;
                    height: 85vh;
                    right: -100vw;
                    top: 15vh;
                }
            }
        }
    }

    #historia{
        & .container-section{
            & .section-historia{
                & img{
                   width: 300px; 
                   height: 300px;
                }
                & p{
                    hyphens: auto;
                }
            }
        }
    }
    #beneficios{
        & .container-beneficios{
            & p{
                font-size: 14px;
            }
            & .container-cards{
                justify-content: center;
                & .card1{
                    & .section-card1{
                        width: 200px;
                        height: 250px;
                        & h3{
                            font-size: 1em;
                        }
                        & p{
                            font-size: 9.5px;
                            hyphens: auto;
                        }
                    }
                }
                & .card2{
                    & img{
                        width: 200px;
                    }
                }
            }
        }
    }
    footer{
        & .container-section{
            & .footer-information{
                & .footer-items{
                    & ul{
                        display: grid;
                        place-items: center;
                    }
                }
            }
        }
    }
}